body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#search {

  position: relative;

  font-size: 18px;

  padding-top: 40px;

  margin: -20px auto 0px;

}

#search label {

  position: absolute;

  left: 17px;

  top: 51px;

}

#search #search-input,

#search .hint {

  padding-left: 43px;

  padding-right: 43px;

  border-radius: 23px;

}

#search .hint {

  color: #aaa;

}

#search #search-clear {

  text-decoration: none;

  position: absolute;

  right: 18px;

  top: 54px;

  color: #b3b3b3;

}

#search #search-clear:hover {

  color: #8f8f8f;

}

#search-results em {
  font-style: normal;
  text-decoration: underline;
}

.hand-cursor tr {
    cursor: pointer;
}
i.hand-cursor {
    cursor: pointer;
}
