<section class='col-xs-10'>
  <br>
  <br>
  <br>
      <table class="table table-hover">
        <thead>
          <th>
            Nom
          </th>
          <th>
            Naissance
          </th>
          <th>
            C.C.P
          </th>
          <th>
            Employeur
          </th>
          <th>
            Prog.
          </th>
          <th>

          </th>
          <th>

          </th>
        </thead>
        <tr ng-repeat ="demande in listContrats">
            <td>
              {{demande.DEMANDEUR}}
            </td>
            <td>
              {{demande.DATENAISS}}
            </td>
            <td>
              {{demande.CCP}}
            </td>
            <td>
              {{demande.EMPLOYEUR}}
            </td>
            <td>
              {{demande.PROGRAMME}}
            </td>
            <td>
              <p class="text-danger">{{demande.Maternite ? 'Mat.':' '}}</p>
              <p class="text-primary">{{demande.Maladie ?   'Maladie.':' '}}</p>
              <p class="text-primary">{{demande.Conge ?   'Congé' : ''}}</p>
              <p class="text-primary">{{demande.mois ?   (demande.mois) : ''}}</p>

            </td>
            <td>
              <button type="submit" ng-click="remove($index, demande)" class="btn btn-warning">Remove</button>
            </td>
        </tr>
      </table>
</section>
