<div class="row">
  <div class='col-xs-12'>
      <form method="post"  ng-submit="search()" >
          <div>
            <section id="search">
              <label for="search-input"><i class="fa fa-search"></i></label>
              <input id="search-input" ng-model ="strSearch" class="form-control input-lg" autofocus placeholder="Trouver" autocomplete="off" spellcheck="false" autocorrect="off" tabindex="1">
              <a id="search-clear" href="#" class="fa fa-times-circle hide"></a>
            </section>
          </div>
        </form>
      </br>

        <div class='col-md-8 col-xs-12'>
          <table class="table table-hover hand-cursor">
            <thead>
              <th></th>
              <th>Nom</th>
              <th>C.C.P</th>
              <th>Employeur</th>
              <th>Disp.</th>
            </thead>
            <tr ng-repeat ="demande in results" ng-click="open(demande)" >
              <td>
                  <button type="button" ng-disabled="demande.addedAt" class="btn btn-primary" ng-click="add(demande, $event)"><i class="fa fa-user-plus"></i></button>
              </td>
                <td><strong>{{demande.DEMANDEUR}}</strong> ({{demande.DATENAISS}})</td>
                <td>{{demande.CCP}}</td>
                <td>{{demande.EMPLOYEUR}}</td>
                <td>{{demande.PROGRAMME}}</td>
            </tr>

          </table>
        </div>
        <div class='col-md-4'>
            <div ng-hide ='pointages.length  >0 ' >
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h3 class="panel-title text-center">
                    Agence Nationale de l'Elmploi
                  </h3>
                </div>
                <div class="panel-body text-center">
                  <h2>AWEM</h2>
                  <h2>B.B.Arreridj </h2>
                  <h3>Pointages </h3>
                  <br><br>
                </div>
              </div>
          </div>
          <div ng-repeat ="demande in pointages">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h3 class="panel-title text-center">
                    {{demande.DEMANDEUR}}
                    <span> ({{demande.addedAt | date:'HH:mm:ss'}})</span>
                  </h3>
                </div>
                <div class="panel-body">
                  <h4>{{demande.DATENAISS}}  <span class="label label-success">{{demande.CCP}}</span></h4>
                  <p> {{demande.EMPLOYEUR}}  </p>
                  <p> Debut:<strong> {{demande.DATEDEBUT | date:'dd/MM/yyyy'}}</strong>  Fin: <strong>{{demande.DATEFIN | date:'dd MMMM yyyy'}} </strong> </p>

                    <div class ="text-center">
                      <label><input ng-model ='demande.Maladie'  type="checkbox" id="cbMaladie" value="Maladie"> Maladie </label>
                      <label><input ng-model ='demande.Conge'  type="checkbox" id="cbConge" value="Conge">Titre de congé </label>
                      <label ng-if="demande.SEXE == 'F'" ><input ng-model ='demande.Maternite'  type="checkbox" id="cbMaternite" value="Maternité"> Maternité </label>
                      <nav >
                          <ul class="pagination ">
                            </li>
                            <li  class="page-item" ng-class="{ 'page-item active':demande.mois.indexOf({{i}}) >=0 }" ng-repeat="i in lastMonths">
                                <a class="page-link" ng-click="addMonth(i, demande)" >{{i}}</a>
                            </li>
                          </ul>
                        </nav>
                        <button type="button" class="btn btn-primary" ng-click="addPointage($index, demande)">
                          <i class="fa fa-floppy-o fa-lg"></i> Enregistrer
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="removePointage($index, demande)">
                          <i class="fa fa-user-times"></i> Annuler
                        </button>
                    </div>

                </div>
              </div>
          </div>
          <div  class="">
            <table class="table table-hover">
              <thead>
                <th>
                  Nom
                </th>
                <th>
                  C.C.P
                </th>
              </thead>
              <tr ng-repeat ="demande in lastPointages">
                  <td>
                    {{demande.DEMANDEUR}}  {{demande.DATENAISS}}
                  </td>
                  <td>
                    {{demande.CCP}}
                  </td>
              </tr>
            </table>

          </div>
        </div>

  </div>


</div>
